.category-active-list li {
<<<<<<< HEAD
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../img/skuDefault.png');
=======
  background-size: cover;
>>>>>>> 3500292a18e69e97540c436ba4422bc703c8d0a3
  margin-bottom: 10px;
  border: #dddddd solid 1px;
  height: 110px;
  background-position: center center;
  background-color: #fff; }
