.cmsWrap {
    position: absolute;
    top: 0rem;
    bottom: 4.5rem;
    left: 0;
    right: 0;
    overflow: hidden;
}

.cmsContent:after {
    content: "";
    display: block;
    height: 3rem;
    width: 100%;
}


/*swiper*/

.cmsWrap .gooddetail-swiper {
    width: 100%;
    height: 30rem;
}

.cmsWrap .gooddetail-swiper-item {
    width: 100%;
    height: 30rem;
    background-size: cover;
}


/*sku*/

.cmsWrap .goodlistItem-column .imgCont,
.cmsWrap .goodlistItem-column .label {
    display: none;
}

.cmsWrap .goodItem  .details {
    margin: 2.5rem 0;
}

.cmsWrap p.goodname {
    height: auto;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #333;
    text-align: center;
}

.cmsWrap .priceCont {
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

.cmsWrap .priceCont .new-price,
.cmsWrap .priceCont .aggregate-price {
    float: none;
    margin-right: 1rem;
}

.cmsWrap .priceCont .old-price {
    float: none;
    line-height: 1.8rem
}

.cmsWrap .iconfont.buy-icon {
    position: relative;
    bottom: 0;
    margin: 2.5rem auto 0;
    display: block;
    width: 15.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 0.3rem;
    background-color: #ff5300;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
}

.cmsWrap .iconfont {
    -webkit-text-stroke-width: 0;
}

.cmsWrap .icon-tianjiagouwuche:before {
    content: "立即购买";
}


/*图文介绍*/

.cmsWrap .detail-graphics {
    padding: 0;
}


/*活动规则*/

.cmsWrap .rule:before {
    position: absolute;
    left: -1.2rem;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 1.2rem solid transparent;
    border-right: 1.2rem solid #ffa000;
    border-bottom: 1.2rem solid transparent;
}

.cmsWrap .rule {
    position: relative;
    float: right;
    z-index: 1111111;
    margin-top: -2.4rem;
    display: inline-block;
    width: 8rem;
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.3rem;
    text-align: center;
    background-color: #ffa000;
    color: #fff;
}

.cmsWrap .activityRule {
    position: relative;
    margin: 3rem 1.5rem 0 1.5rem;
    border: 0.2rem solid #ffa000;
    border-radius: 0.3rem;
    padding: 2rem 1.5rem 0rem;
}

.cmsWrap .activityRule li {
    font-size: 1.4rem;
    color: #000;
    line-height: 2rem;
    margin-bottom: 2.5rem;
}

.cmsWrap .activityRuleTitleWrap {
    position: absolute;
    top: -1.5rem;
    left: 0;
    display: block;
    width: 100%;
    font-weight: 900;
    font-size: 2rem;
    color: #ffa000;
    text-shadow: 0 0 2px #fff;
    text-align: center;
}
.cmsWrap .activityRuleTitle{
    display: inline-block;
    background-color: #fff;
    width: 11rem;
    height: 2rem;
}
.cmsWrap .unbegin.iconfont.buy-icon,
.cmsWrap .isOver.iconfont.buy-icon{
    background-color: #ccc;
}
.cmsWrap .unbegin.icon-tianjiagouwuche:before{
    content: "还未开始";
}
.cmsWrap .isOver.icon-tianjiagouwuche:before{
    content: "补货中";
}
