<div class="bindUserWrap" ng-controller="bindUserCtrl">
  <p class="note">为了验证您的身份，请绑定您的手机号</p>
  <div class="block_tel">
    <input ng-model="tel" placeholder="请输入您的手机号" type="number">
    <input ng-model="smsCode" placeholder="请输入您的手机验证码" type="number"/>
    <span class="sendCodeBtn" ng-click="sendCode($event);" ng-show="!sendLeftTime">获取验证码</span>
    <span class="sendCodeBtn disabled" ng-show="sendLeftTime">重新发送({{sendLeftTime}})S</span>

  </div>
  <span class="confirmbutton disabled" ng-click="bindUser($event)">确定</span>
  <div class="pos_checkP" ng-init="agreedeal=true;">
    <input ng-checked="agreedeal" type="checkbox"/>
    <i class="iconfont" ng-class="{'icon-checkbox-checked':agreedeal,' icon-checkbox':!agreedeal}" ng-click="agreedeal=!agreedeal;"></i>
    <span>已阅读并同意</span>
    <a href="http://open.imxiaomai.com/app/user.html">小麦公社协议</a>
  </div>
</div>
