@charset "UTF-8";
/* 头部导航 */
.pub-header {
  font-size: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 44px;
  background: #fff;
  z-index: 2;
  border-bottom: solid 1px #d5d5d5;
  display: flex;
  justify-content: space-around;
  background: #f5f5f5;
  color: #524648; }
  .pub-header .icon-feedback, .pub-header .icon-user {
    width: 45px;
    text-align: center; }
    .pub-header .icon-feedback:before, .pub-header .icon-user:before {
      font-size: 24px;
      line-height: 44px; }
  .pub-header .location-info {
    text-align: center;
    flex-grow: 1;
    line-height: 44px; }

.list-main .list-category {
  width: 28%;
  background: #f5f5f5;
  border-right: #dddddd solid 1px; }
  .list-main .list-category .nav-super {
    height: 49px;
    line-height: 49px;
    font-size: 14px;
    color: #3a404b;
    border-bottom: solid 1px #dddddd;
    text-align: center; }
    .list-main .list-category .nav-super:last-child {
      border-bottom-width: 0; }
    .list-main .list-category .nav-super.nav-checked {
      color: #ff5300;
      font-size: 16px;
      border-bottom: #ff5300 solid 3px;
      background: #fff; }
  .list-main .list-category .nav-hot, .list-main .list-category .nav-new, .list-main .list-category .nav-recommend {
    position: relative; }
  .list-main .list-category .nav-parent {
    position: relative; }
    .list-main .list-category .nav-parent:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-width: 8px 6px 0 6px;
      border-style: solid;
      border-color: #3a404b #f5f5f5 #f5f5f5 #f5f5f5;
      right: 10px;
      top: 20px; }
  .list-main .list-category .nav-arrow-up:after {
    transform: rotate(180deg); }
  .list-main .list-category .nav-sub {
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #555;
    background: #fff; }

.list-main .list-product {
  flex-grow: 1;
  padding: 10px;
  background: #fff; }
