$borderColor:#dddddd;
$checkedColor:#ff5300;
$supBg:#f5f5f5;
$subBg:#fff;
$fontColor:#3a404b;

/* 头部导航 */
.pub-header {
  font-size:1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 44px;
  background: #fff;
  z-index: 2;
  border-bottom: solid 1px #d5d5d5;
  display: flex;
  justify-content: space-around;
  background:#f5f5f5;
  color:#524648;
  .icon-feedback {
    width: 45px;
    text-align: center;
    &:before{
      font-size:24px;
      line-height: 44px;
    }
  }
  .icon-user{
    @extend .icon-feedback;
  }
  .location-info{
    text-align: center;
    flex-grow:1;
    line-height: 44px;
  }
}
.list-main {

  .list-category {
    width: 28%;
    background: #f5f5f5;
    border-right:$borderColor solid 1px;
    .nav-super {
      height: 49px;
      line-height: 49px;
      font-size: 14px;
      color: $fontColor;
      border-bottom: solid 1px $borderColor;
      text-align: center;
      &:last-child {
        border-bottom-width:0;
      }
      &.nav-checked{
          color:$checkedColor;
          font-size:16px;
          border-bottom:$checkedColor solid 3px;
          background:#fff;
      }
    }
    .nav-hot {
      position: relative;
      &:after {
      }
    }
    .nav-new {
      @extend .nav-hot;

    }
    .nav-recommend {
      @extend .nav-hot;

    }
    .nav-parent {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-width: 8px 6px 0 6px;
        border-style: solid;
        border-color: $fontColor $supBg $supBg $supBg;
        right: 10px;
        top: 20px;
      }
    }
    .nav-arrow-up {
      &:after {
        transform: rotate(180deg);
      }
    }
    .nav-sub {
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #555;
      background: $subBg;
    }
  }
  .list-product {
    flex-grow: 1;
    padding: 10px;
    background: #fff;
  }
}
