.GoodsCont .GoodCont {
    position: relative;
    border-bottom: solid 1px #ddd;
    padding: 10px 0;
}

.GoodsCont .GoodCont:last-child {
    border-bottom-width: 0px;
}

.GoodsCont .imgCont {
    width: 8rem;
    height: 8rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('http://xiaomai-p2p.qiniudn.com/8e15885872350480ae32f3e87ad84f49');
    position: relative;
    border:#f0f0f0 solid 1px;
}

.GoodsCont .details {
    position: absolute;
    left: 9rem;
    right: 0;
    bottom: 10px;
    top: 10px;
}

.list-main .list-product .goodname{
    padding-bottom: 0.5rem;
}
/* 小屏兼容 */

@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio:2) {
  
}

.categoryBanners {
     width: 100%;
    height: 160px;
    background: #eee;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.categoryBanners .swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.categoryBanners .swiper-slide {
    width: 100%;
    height: 160px;
}

.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow:hidden;
}

.swiper-slide {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
