<div class="GoodsCont">

  <div class="errortip" ng-if="haserror">{{errortip}}</div>
  <div  ng-if="isloading" class="loading">
      正在加载
  </div>
  <div class="banner">
    <ks-swiper-container swiper="swiper">
      <ks-swiper-slide class="swiper-slide" ng-repeat="banner in banners">
        <div class="categoryBanners" ng-click="gotoActive(banner);" ng-style="{'background-image':'url('+banner.imageUrl+')'}"></div>
      </ks-swiper-slide>
    </ks-swiper-container>
  </div>
  <div class="GoodCont" ng-repeat="good in goods">
    <div class="recommendCateGood"  xiaomai-good-list-item goods="good" detail-source-event="category+{{categoryId}}" click-event="m_b_31homepagetabcategoryadd+{{categoryId}}" source-event="m_r_31cartfromcategory+{{categoryId}}"></div>
  </div>
</div>
