<div class="pub-header">
  <div class="lefticon iconfont icon-fanhui" ng-click="goBack($event);"></div>
  <div class="location-info icon-school middlearea">编辑收货人信息</div>
</div>

<div class="addrItemCont">
    <p>
      <span class="addrItem-key">联系人</span>
      <span class="addrItem-value">
        <input ng-model="receiverName" type="text">
      </span>
    </p>
    <p>
      <span class="addrItem-key">联系电话</span>
      <span class="addrItem-value">
        <input ng-model="receiverPhone" type="tel">
      </span>
    </p>
    <p>
      <span class="addrItem-key">所在学校</span>
      <span class="addrItem-value">{{receiverCollegeName}}</span>
      <i class="iconfont icon-yfmore" ng-click="goLocate($event);"></i>
    </p>
</div>
<div class="addrHanlderBtnCont">
  <span class="disabled" ng-click="save($event);">保存</span>
</div>
