<<<<<<< HEAD
.localColleges{
  height:102px;
}
.locating{
  position: relative;
  &:after{
    position: absolute;
    content:'学校位置搜索中...';
    top:0;
    line-height: 102px;
    color:#333;
    font-size:14px;
    width:100%;
    text-align: center;
  }
=======
@mixin pub-title{
  display: inline-block;
>>>>>>> 3500292a18e69e97540c436ba4422bc703c8d0a3
}
