.recommendCategoryCont {
    margin: 0 -1rem;
    background: #fff;
}

.recommendCategoryCont .recommendCateTitle {
    position: relative;
    height: 2.5rem;
    line-height: 2.5rem;
    background: #f5f5f5;
    font-size: 1.3rem;
    color: #3a404b;
    padding: 0 1rem;
    justify-content: space-between;
}

.recommendCategoryCont .recommendCateTitle h3 {
    font-weight: normal;
}

.recommendCategoryCont .recommendCateTitle span {
    position: absolute;
    top: 0;
    right: 1rem;
    color: #bbb;
    font-size: 1.2rem;
    height: 2.5rem

}

.recommendCategoryCont .recommendCateColumn {
    padding: 0 1rem;
}
