@charset "UTF-8";
body, button, dd, dl, dt, footer, h1, h2, h3, h4, h5, h6, input, li, nav, ol, p, td, textarea, tr, ul {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}
form {
  display: inline;
}
ol, ul {
  list-style: none;
}
ul, li {
  list-style-type: none;
}
.inblock, address{
  display: inline-block;
}
.tx_center{
  text-align: center;
}
a {
  text-decoration: none;
  color: #1a1a1a;
}
a:active, a:focus, a:hover {
  color: #1c5aa2;
  text-decoration: none;
}
a:active {
  color: #aaa;
}
em, address, i {
  font-style: normal;
}
img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button, input, select, textarea {
  font-size: 100%;
  vertical-align: middle;
  outline: 0;
}
textarea {
  resize: none;
}
button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
}
input:focus:-moz-placeholder, button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article, footer, header, hgroup, menu, nav, section {
  display: block;
  clear: all;
}
html {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}
input, textarea, button {
  outline: none;
  -webkit-appearance: none !important;
}
input, textarea, button, a, a:hover, a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div, header, .list_cate, .list_pro, img, i, .cartListUl, .dt_all .wrap_dtImg {
  box-sizing: border-box;
}
.fl {
  float: left;
}
.clear {
  clear: both;
  display: block;
}
.cf:after, .cf:before, .clearfix:after, .clearfix:before {
  display: table;
  content: "";
}
.cf:after, .clearfix:after {
  clear: both;
}
.ui-clear {
  clear: both;
}
.ui-float-left {
  float: left;
}
.ui-float-right {
  float: right;
}
.ui-hide {
  display: none;
}
.show {
  display: block;
}
.ui-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ui-break {
  word-break: break-all;
  word-wrap: break-word;
}
.ui-graybox {
  border: solid 1px #efefef;
}
.ui-colorblue {
  color: #00f;
}
.ui-colorred {
  color: red;
}
.ui-hidden {
  visibility: hidden;
}
.ui-underline {
  text-decoration: underline;
}
.ui-text-right {
  text-align: right;
}
.ui-nowrap {
  white-space: nowrap;
}
.ui-bluelink {
  color: #00f;
  text-decoration: underline;
}
body, html {
  background: #f2f2f2;
  height: 100%;
  font: 10px '微软雅黑', 'Microsoft Yahei', Helvetica, Tahoma, Arial, sans-serif;
}
html {
  position: relative;
  max-width: 480px;
  height: 100%;
  margin: 0 auto;
}
body {
  min-width: 320px;
}
@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio:2) {
  body, html {
    font: 8px '微软雅黑', Helvetica, Tahoma, Arial, sans-serif;
  }
}
.loading, .errortip {
  position: absolute;
  margin-top: 80%;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #ff5300;
  border: 0 !important;
  background: none !important;
}
.f14 {
  font-size: 1.4rem;
}
.colorOrg {
  color: #ff5300;
}
.hgt100 {}
.mod-wrap {
  /* position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
}
.label {
  display: inline-block;
  padding: 0 0.5rem;
  height: 1.3rem;
  line-height: 1.3rem;
  font-size: 1.1rem;
  border: #ccc solid 1px;
  background-color: #fff;
  display:none;
}
.label.ldc {
  border-color: #26adf0;
  color: #26adf0;
  display:inline-block;
}
.label.rdc {
  border-color: #2cdb46;
  color: #2cdb46;
  display:inline-block;
}
.iconfont.buy-icon {
  position: absolute;
  right: 0;
  bottom: 1rem;
  background-color: #fff;
  font-size: 3.3rem;
  line-height: 1;
  color: #fc541f;
}
p.goodname {
  line-height: 2rem;
  height: 3.4rem;
  overflow: hidden;
  font-size: 1.3rem;
  color: #333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.paying {
  opacity: 0.3;
}

/* 头部导航 */

.pub-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 4.4rem;
  font-size: 1.5rem;
  color: #3a404b;
  z-index: 2;
  border-bottom: solid 1px #ddd;
  justify-content: space-around;
  background-color: #fff;
}
.pub-header .lefticon, .pub-header .righticon {
  width: 60px;
  height: 4.4rem;
  line-height: 4.4rem;
  text-align: center;
  color: #5f646e;
  position: absolute;
  top: 0;
  left: 0;
}
.pub-header .righticon {
  left: initial;
  right: 0;
}
.pub-header .middlearea {
  position: absolute;
  top: 0;
  left: 60px;
  right: 60px;
  text-align: center;
  /* flex-grow: 1; */
  line-height: 4.4rem;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio:2) {}
