
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1446117854_414187.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1446117854_414187.svg#iconfont') format('svg'),/* iOS 4.1- */
  url('//at.alicdn.com/t/font_1446117854_414187.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1446117854_414187.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1446117854_414187.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/

}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shouye:before { content: "\e600"; }
.icon-ok:before { content: "\e60b"; }
.icon-kefu:before { content: "\e601"; }
.icon-guanbi:before { content: "\e61c"; }
.icon-checkbox-checked:before { content: "\e608"; }
.icon-checkbox:before { content: "\e609"; }
.icon-fanhui:before { content: "\e61d"; }
.icon-cuo:before { content: "\e60d"; }
.icon-bianji:before { content: "\e60c"; }
.icon-zhifubao:before { content: "\e607"; }
.icon-yfmore:before { content: "\e614"; }
.icon-sousuo:before { content: "\e61e"; }
.icon-gerenzhongxin:before { content: "\e628"; }
.icon-gouwuche:before { content: "\e61f"; }
.icon-gengduo:before { content: "\e60f"; }
.icon-unfold:before { content: "\e615"; }
.icon-locate:before { content: "\e613"; }
.icon-guanbi1:before { content: "\e629"; }
.icon-jifen36:before { content: "\e602"; }
.icon-ok1:before { content: "\e612"; }
.icon-fankui:before { content: "\e616"; }
.icon-tuijian:before { content: "\e617"; }
.icon-remen:before { content: "\e618"; }
.icon-new:before { content: "\e61a"; }
.icon-hot:before { content: "\e61b"; }
.icon-fenxiang:before { content: "\e620"; }
.icon-tianjiagouwuche:before { content: "\e621"; }
.icon-qianggou:before { content: "\e622"; }
.icon-yiqianggou:before { content: "\e623"; }
.icon-dayangle:before { content: "\e624"; }
.icon-buhuozhong:before { content: "\e625"; }
.icon-yijieshu:before { content: "\e626"; }
.icon-jianqugouwuche:before { content: "\e627"; }
.icon-weixin:before { content: "\e60a"; }
.icon-dingdan:before { content: "\e603"; }
.icon-bianji1:before { content: "\e604"; }
.icon-youhuiquan:before { content: "\e605"; }
.icon-fankui1:before { content: "\e606"; }
