$list-category-bg:#ffd801;
.pub-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height:44px;
  background: #fff;
  border-bottom: solid 1px #d5d5d5;
  display: flex;
  justify-content: space-around;
  .feedback-icon {
    width: 45px;
    font-size:1rem;
    position: relative;
    &:before,&::before{
      position: absolute;
    }
  }
  .user-icon {
    width: 45px;
    font-size:1rem;
    position: relative;
    &:before{
      position:absolute;
    }
  }
}
.list-main{
  position: absolute;
  left:0;
  right:0;
  top:45px;
  bottom:45px;
  display: flex;
  .list-category{
    width:28%;
    background:$list-category-bg;
    .nav-super{
      height:80px;
      line-height: 80px;
      font-size: 14px;
      margin:0 10px;
      color:#555;
      border-bottom:solid 1px darken($list-category-bg,5%);
      text-align: center;
      &:last-child{
        border-bottom: solid 1px $list-category-bg;
      }
    }
  }
  .list-product{
    padding:0 20px;
  }
}
