.pub-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 44px;
  background: #fff;
  border-bottom: solid 1px #d5d5d5;
  display: flex;
  justify-content: space-around; }
  .pub-header .feedback-icon {
    width: 45px;
    font-size: 1rem;
    position: relative; }
    .pub-header .feedback-icon:before, .pub-header .feedback-icon::before {
      position: absolute; }
  .pub-header .user-icon {
    width: 45px;
    font-size: 1rem;
    position: relative; }
    .pub-header .user-icon:before {
      position: absolute; }

.list-main {
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  bottom: 45px;
  display: flex; }
  .list-main .list-category {
    width: 28%;
    background: #ffd801; }
    .list-main .list-category .nav-super {
      height: 80px;
      line-height: 80px;
      font-size: 14px;
      margin: 0 10px;
      color: #555;
      border-bottom: solid 1px #e7c300;
      text-align: center; }
      .list-main .list-category .nav-super:last-child {
        border-bottom: solid 1px #ffd801; }
  .list-main .list-product {
    padding: 0 20px; }
