@charset "UTF-8";
.list-main {
  width: 100%;
  display: flex;
  padding: 4.5rem 0;
}
.pub-footer {}

/* .goodDetail {
  position: fixed;
  left: 0;
  right: 0;
  height: 0;
  bottom: 4.5rem;
  overflow: hidden;
  z-index: 3;
  transition: height 0.5s ease;
  background: #fff;
}

.goodDetailWrap.goodDetail-show {
    height: 40%;
    padding: 3rem 1.5rem 0;
} */

.mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #222;
  z-index: 2;
  opacity: 0.8;
  display: none;
}
.detailCont .icon-fenxiang {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  font-size: 2.4rem;
  color: #5f646e;
  width: 4rem;
}
.detailCont .icon-unfold {
  right: 1rem;
  position: absolute;
  top: 0.5rem;
  font-size: 2.4rem;
  color: #5f646e;
  width: 4rem;
  text-align: right;
}
.cartThumb {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4.5rem;
  background: #eee;
  z-index: 9;
}
.shopcarticons{
  position: absolute;
  left: 1rem;
  bottom: 0.5rem;
  width: 5.5rem;
  height: 5.5rem;
}
.icon-cart {
  position: absolute;
  left:0;
  right:0;
  width: 5.5rem;
  height: 5.5rem;
  line-height: 5.5rem;
  border-radius: 5.5rem;
  background-color: #ffa000;
  font-size: 3.2rem !important;
  text-align: center;
  color: #fff;
}
.totalCount {
  width: 2.0rem;
  height: 2.0rem;
  color: #ffa000;
  font-size: 1.2rem;
  background: #f9f9f9;
  left: 3.8rem;
  border-radius: 1rem;
  display: inline-block;
  position: absolute;
  text-align: center;
  line-height: 2rem;
  border: 1px solid #ffa000;
  transition: transform .2s;
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -webkit-transform: scale(1);
  top:0;
}
.totalCount.big {
  -webkit-transform: scale(1.4);
}
.cartThumb .gotoPay {
  background: #Ff5201;
  width: 10rem;
  height: 4.5rem;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 4.5rem;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}
.cartThumb .totalPrice {
  line-height: 4.5rem;
  padding-left: 9rem;
  font-size: 1.3rem;
  color: #3a404b;
}
.cartThumb .totalPrice em {
  color: #fc541f;
  font-style: normal;
  padding-left: 5px;
}
.cartThumb .totalPrice span {
  color: #ff5300;
  font-size: 1.8rem;
}
.cartThumb .emptyTip {
  line-height: 4.5rem;
  padding-left: 8rem;
  font-size: 1.3rem;
  color: #3a404b;
}
.cartDetail, .goodDetail {
  position: fixed;
  left: 0;
  right: 0;
  height: 0;
  bottom: 4.5rem;
  overflow: hidden;
  z-index: 3;
  transition: height 0.5s ease;
  background: #fff;
}
.cartDetail .haserror {
  line-height: 10rem;
  text-align: center;
  font-size: 1.4rem;
}
.goodDetail {
  bottom: 0rem;
}
.cartDetail.cartDetail-show, .goodDetail.goodDetail-show {
  height: 28rem;
  padding:0 1.5rem;
}
.goodDetail.goodDetail-show {
  height: 85%;
}
.cartDetail .cartDetailWrap, .goodDetail .goodDetailWrap {
  position: absolute;
  top: 4.5rem;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 3rem;
  overflow: hidden;
}
.goodDetail .goodDetailWrap {
  bottom: 4.5rem;
  left: 0;
  right: 0;
}
.cartDetail .goback {
  position: absolute;
  font-size: 1.6rem;
  line-height: 4.5rem;
  color: #555;
  right: 0;
  top: 0;
  padding-right: 3.6rem;
}
.cartDetail .goback .iconfont {
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  border-radius: 1rem;
  background-color: #ff5300;
  color: #fff;
  font-size: 1.4rem;
}
.cartDetail .couponMore {
  font-size: 1.2rem;
}
.cartDetail .couponMore:before {
  position: absolute;
  font-weight: bold;
}
.cartDetail .title-ldc, .cartDetail .title-rdc {
  font-size: 1.2rem;
  height: 2.4rem;
  line-height: 2.4rem;
  border-bottom: solid 0.2rem #66bd00;
}
.cartDetail .title-rdc {
  color: #009bf5;
  border-bottom-color: #009bf5;
}
.cartDetail .good-info {
  height: 6.5rem;
  color: #333;
  font-size: 1.4rem;
  /*  padding-right: 12rem; */
  border-bottom: solid 1px #ddd;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.cartDetail .good-info .goodWrap {
  width: 64%;
  float: left;
  padding: 1.2rem 0 1.2rem;
}
.cartDetail .good-info .iconWrap {
  width: 36%;
  float: left;
  text-align: right;
  line-height: 6.5rem;
  position: relative;
  top: 1rem;
}
.cartDetail .good-info p.good-title {
  font-size: 1.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #3a404b;
}
.cartDetail .good-info p.good-price {
  display: inline-block;
  width: 6rem;
  color: #ff5300;
  line-height: 2.4rem;
  font-size: 1.6rem;
  vertical-align: middle;
}
.cartDetail .good-info .icon-tianjiagouwuche, .cartDetail .good-info .icon-jianqugouwuche {
  color: #ff5300;
  line-height: 4.5rem;
  font-size: 3rem;
  position: absolute;
}
.cartDetail .good-info .icon-jianqugouwuche {
  right: 5rem;
}
.cartDetail .good-info .icon-tianjiagouwuche {
  right: 0;
}
.cartDetail .good-info .good-count {
  display: inline-block;
  line-height: 4.5rem;
  font-size: 1.4rem;
  width: 3.0rem;
  color: #333;
  text-align: center;
  position: absolute;
  right: 2.2rem;
}
.cartDetail .cartDetail-tip {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 3rem;
  font-size: 1.3rem;
  line-height: 3rem;
  color: #91959d;
}
.cartDetail .cartDetail-tip .cartDetail-tip-freight {
  display: inline-block;
  float: left;
}
.cartDetail .cartDetail-tip .cartDetail-tip-coupon {
  display: inline-block;
  float: right;
  margin-right: 1rem;
}
.showcart .shopcarticons{
  position: absolute;
  bottom: 30rem;
  animation: showcartIcon 0.5s ease;
}
@-webkit-keyframes showcartIcon
/* Safari å’Œ Chrome */

{
  0% {
    bottom: 5px;
  }
  100% {
    bottom: 30rem;
  }
}
.showcart.cartThumb .totalPrice {
  padding-left: 1rem;
}
.showdetail.cartThumb {
  background-color: #fff;
}
.showdetail .totalPrice, .showdetail .gotoPay, .showdetail .emptyTip {
  display: none;
}
.shareModel {
  position: fixed;
  left: 1rem;
  right: 2.4rem;
  top: 0;
  bottom: 88%;
  z-index: 2;
  background-image: url('http://upload.imxiaomai.com/upload2Qiniu/visit_img?id=167714');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}
@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio:2) {}
