<div ui-view></div>
<!-- 购物车x-->
<div class="pub-footer" ng-controller="buy.cartThumbCtrl">
  <div class="cartThumb" ng-class="{showcart:isShowCart,showdetail:isShowDetail}">
    <div class="shopcarticons">
      <span class="iconfont icon-cart icon-gouwuche" ng-click="gotoDetail();"></span>
      <span class="totalCount" ng-class="{big:hasChange}" ng-show="totalCount && totalCount!=0">{{totalCount}}</span>
    </div>

    <p class="totalPrice" ng-show="totalCount && totalCount!=0">共计<em>&yen;</em>
      <span>{{totalPrice|xiaomaiprice}}</span></p>
    <div class="gotoPay" ng-click="goSettlement($event);" ng-show="totalCount && totalCount!=0">选好了</div>
    <p class="emptyTip" ng-show="!totalCount || totalCount==0">购物车是空的,快快选购吧~</p>
  </div>
  <div class="cartDetail" ng-class="{'cartDetail-show':showcart}" ng-controller="buy.cartDetailCtrl">
    <span class="goback" ng-click="continueShop($event);">继续购物<i class=" iconfont icon-yfmore"></i>
    </span>
    <div class="cartDetailWrap" subname="{{'shopcartdetailheightupdate'}}" xiaomai-iscroll>
      <div>
        <div class="haserror" ng-if="isloading">正在购物车信息......</div>
        <div class="haserror" ng-click="goHomepage();" ng-if="haserror">购物车空了 赶快去<span>购物吧</span></div>
        <div class="good-info" ng-repeat="good in goods">
          <div class="goodWrap">
            <p class="good-title">{{good.sourceType==2?good.activityGoodsName:good.bgGoodsName}}</p>
            <p class="good-price">&yen;{{good.sourceType==2?good.skuList[0].activityPrice:good.skuList[0].wapPrice|xiaomaiprice}}</p>
            <lable class="label" ng-class="{ldc:$index==0,rdc:$index==1}" ng-repeat="distribute in good.distributeTypeDisplay track by $index" ng-show="distribute.length">{{distribute}}</lable>
          </div>
          <div class="iconWrap">
            <i class="iconfont icon-jianqugouwuche" ng-class="{paying:good.isPaying}" ng-click="buyHandler($event,'minus',$index);"></i>
            <span class="good-count">{{good.skuList[0].numInCart}}</span>
            <i class="iconfont icon-tianjiagouwuche" ng-class="{paying:goo.isPaying}" ng-click="buyHandler($event,'plus',$index);"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="cartDetail-tip">
      <p class="cartDetail-tip-freight" ng-if="ldcFreight.sub && ldcFreight.sub!=0">29分钟达产品满{{ldcFreight.total|xiaomaiprice}}减{{ldcFreight.sub|xiaomaiprice}}</p>
      <p class="cartDetail-tip-coupon" ng-click="gotoCoupon();" ng-if="coupons.length">{{coupons.length}}张可用优惠劵<i class="couponMore iconfont icon-YF_more"></i>
      </p>
      <p class="cartDetail-tip-coupon" ng-if="!coupons.length">暂无可用优惠劵</p>
    </div>
  </div>
</div>
<!--遮罩-->
<div class="mask" mask-gui ng-click="closeMask($event);"></div>
<div class="shareModel"  ng-click="closeShare($event);" ng-if="shareIsShow"></div>

<!--商品详情-->
<div class="goodDetail" ng-class="{'goodDetail-show':showdetail}" ng-controller="buy.detailCtrl">
  <div class="detailCont">
    <div class="goodIconWrap">
      <div class="iconfont icon-fenxiang" ng-click="showShareModel($event);"></div>
      <div class="iconfont icon-unfold" ng-click="closeDetail($event);"></div>
    </div>

    <div class="goodDetailWrap" subname="{{'detailgoodheightupdate'}}" xiaomai-iscroll>
        <div image-loaded-call="imageLoadedCall();" good-detail goods-id="goodsId" source-type="sourceType" load-success="openDetailPop();"></div>
    </div>
  </div>
</div>
