<div class="cartThumb" ng-controller="buy.cartThumbCtrl">
  <span class="iconfont icon-cart" ng-click="gotoDetail();"></span>
  <span class="totalCount" ng-show="totalCount && totalCount!=0">{{totalCount}}</span>
  <p class="totalPrice" ng-show="totalCount && totalCount!=0">共计<em>&yen;</em><span>{{totalPrice|xiaomaiprice}}</span></p>
  <div class="gotoPay" ng-show="totalCount && totalCount!=0">选好了</div>
  <p class="emptyTip" ng-show="!totalCount || totalCount==0">购物车是空的,快快选购吧~</p>
</div>


<div class="cartDetail" ng-controller="buy.cartDetailCtrl" cart-detail-gui active-class="cartDetail-show">
    <span class="goback iconfont icon-arrow" ng-click="continueShop();">继续购物</span>
    <p class="title-ldc">29分钟达</p>
    <div ng-repeat="good in goods" ng-show="good.distributeTypeDisplay[0].length">
      <p class="good-title">{{good.activityGoodsName}}</p>
      <p class="good-price">{{good.minWapPrice}}</p>

      <i ng-click="buyHandler('minus',$index);" class="iconfont icon-minus"></i>
      <span>{{good.skuList[0].numInCart}}</span>
      <i ng-click="buyHandler('plus',$index);" class="iconfont icon-plus"></i>
    </div>
    <p class="title-rdc">次日达</p>
    <div ng-repeat="good in goods" class="good-info" ng-show="good.distributeTypeDisplay[1].length">
      <p class="good-title">{{good.activityGoodsName}}</p>
      <p class="good-price">&yen;{{good.minWapPrice|xiaomaiprice}}</p>

      <i class="iconfont icon-minus" ng-click="buyHandler('minus',$index);"></i>
      <span class="good-count">{{good.skuList[0].numInCart}}</span>
      <i class="iconfont icon-plus" ng-click="buyHandler('plus',$index);"></i>
    </div>
    <div class="cartDetail-tip">
        <p ng-if="coupons.length">{{coupons.length}}张可用优惠劵<i class="iconfont icon-arrow"></i></p>
        <p ng-if="!coupons.length">暂无可用优惠劵</p>
    </div>
</div>
