.countrylist li {
    line-height: 42px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
    color: #666;
}

 .countrylist li p {
    border-bottom: #eee solid 1px;
    color: #444;
    font-size: 16px;
    padding: 0 10px;
}

 .countrylist li div {
    line-height: 36px;
    padding: 0 10px;
    word-break: nowrap;
    text-overflow: ellipsis;
}
