<div class="pub-header">
  <div back-icon class="iconfont icon-back" ng-click="goback();"></div>
  <div class="location-info">选择学校</div>
  <div class="iconfont icon-locate-right"></div>
</div>
<div class="colleges_content" xiaomai-iscroll subname="{{'collegesheightupdate'}}">
  <ul class="countrylist">
    <li class="loading" ng-if="isloading">学校信息正在加载....</li>
    <li class="errortip" ng-if="haserror">该城市还没有相关学校</li>
    <li ng-repeat="country in countrylist" >
      <p class="countryname">{{country.cityName}}</p>
      <div ng-class="{holiday:college.isOpen!=1}" class="" ng-click="checkCollege(college)" ng-click="checkCollege(college);" ng-repeat="college in country.colleges">{{college.collegeName}}</div>
    </li>
  </ul>
</div>
