<div class="pub-header">
  <div back-icon class="iconfont icon-back" ng-click="goback();"></div>
  <div class="location-info">{{activityShowName}}</div>
  <div class="iconfont icon-locate-right"></div>
</div>
<div class="skWrap" down-tip-cls="{{'skactive-downtip'}}" pubname="{{'skactiveiscrollupdate'}}" subname="{{'skactiveheightstatus'}}" xiaomai-iscroll>
  <div>
    <div class="banner">
      <ks-swiper-container swiper="swiper">
        <ks-swiper-slide class="swiper-slide" ng-repeat="banner in banners">
          <div class="skactiveGoodBanner" ng-click="gotoActive(banner);" ng-style="{'background-image':'url('+banner.imageUrl+')'}"></div>
        </ks-swiper-slide>
      </ks-swiper-container>
    </div>
    <ul class="skactiveGoodList">
      <li class="errortip" ng-click="goHomepage();" ng-if="haserror">
        活动已经结束 去其他活动<span>看看吧</span>
      </li>
      <li class="loading" ng-if="isloading">
        loading....
      </li>
      <li ng-repeat="good in goods">
        <div class="goodItem">
          <div class="imgCont" ng-click="gotoDetail(good);" ng-style='{"background-image":"url("+good.imageUrl+")"}'>
<!--如果活动未开始-->
            <p class="countdown" ng-if="good.killStarted==0">
              距开始
              <span count-dead-call="timecountdown(timeid);" countdown counttime="{{good.timeBeforeStart}}" timeid="{{good.activityBgGoodsId}}"></span>
            </p>
<!-- 活动已开始-->
            <p class="countdown" ng-if="good.killStarted==1">
              距结束
              <span count-dead-call="timecountdown(timeid);" countdown counttime="{{good.buyLeftTime}}" timeid="{{good.activityBgGoodsId}}"></span>
            </p>
          </div>
          <div class="details">
            <p class="goodname" ng-click="gotoDetail(good);">{{good.activityGoodsName}}</p>
<!-- 输出标签29分钟达/次日达 -->
            <label class="label" ng-class="{'ldc':$index==0,'rdc':$index===1}" ng-repeat="label in good.distributeTypeDisplay" ng-show="label.length">{{label}}</label>
            <p class="priceCont">
<!-- 单品或者组合最高价-->
              <span class="new-price" ng-if="good.goodsType==1||good.goodsType==2">
                &yen;<i>{{good.skuList[0].activityPrice|xiaomaiprice}}</i>
              </span>
              <span class="old-price" ng-if="good.goodsType==1||good.goodsType==2">
                &yen;{{good.skuList[0].originPrice|xiaomaiprice}}</span>
            </p>
<!-- 未开始-->
            <p class="sk-icon disabled" ng-if="good.killStarted==0">抢</p>
<!-- 已结束-->
            <p class="sk-end" ng-if="good.killStarted==2">已结束</p>
<!-- 已经售空-->
            <p class="sold-out" ng-if="good.killStarted==1 && good.goodsStatusDisplay==3">抢光了</p>
<!-- 已经抢过了 -->
            <p class="sold-geted" ng-if="good.killStarted==1 && good.killed">已抢购</p>
<!-- 抢购开始 & 没抢购过 & 商品上架状态 -->
            <p class="sk-icon" ng-class="{paying:good.isPaying}" ng-click="buyHandler(good,$index);" ng-if="good.killStarted==1 && !good.killed && good.goodsStatusDisplay==2">抢</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
