<div class="pub-header">
  <div back-icon class="iconfont icon-fanhui lefticon" ng-click="goback();"></div>
  <div class="location-info middlearea">{{activityShowName}}</div>
  <div class="iconfont active-share icon-fenxiang icon-locate-right righticon" ng-click="showShareModel();"></div>
</div>

<div class="activeWrap" down-tip-cls="{{'skactive-downtip'}}" xiaomai-iscroll subname="{{'activeheightstatus'}}" pubname="{{'activeiscrollupdate'}}">
  <div>
    <div class="banner">
      <ks-swiper-container on-ready="onReadySwiper(swiper)" swiper="swiper">
        <ks-swiper-slide class="swiper-slide" ng-repeat="banner in banners">
          <div class="activeGoodBanner" ng-click="gotoActive(banner);" ng-style="{'background-image':'url('+banner.imageUrl+')'}"></div>
        </ks-swiper-slide>
      </ks-swiper-container>
    </div>
    <div  class="errortip" ng-if="haserror" class="">活动已经结束,去其他活动看看吧</div>
    <div class="loading" ng-if="isloading">正在加载活动商品列表...</div>
    <ul ng-class="{'skactiveGoodList':goods[0].isSeckill==1,'activeGoodList':goods[0].isSeckill!=1}">
      <li ng-repeat="good in goods">
        <div class="goodItem"  ng-if="good.isSeckill!=1" >
          <div xiaomai-good-list-item goods="good" detail-source-event="active+{{activityId}}" click-event="m_b_31singleactivityadd+{{activityId}}" source-event="m_r_31cartfromactive+{{activityId}}"  column="{{true}}" ></div>
        </div>
        <div ng-if="good.isSeckill==1" xiaomai-good-list-item-sk goods="good"></div>
      </li>
    </ul>
  </div>
</div>
