@charset "UTF-8";
.pub-header .usercenter,.pub-header .icon-sousuo{
    color: #5f646e;
    font-size:2.4rem;
}
.pub-header .location-info {
}
.location-info .locate{
    color: #ccc;
    font-size: 2rem;
}

.pub-header .location-info.icon-school .changeLocate {
    position: absolute;
    top: 1.8rem;
    margin-left: 0.5rem;
    vertical-align: middle;
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 6px 0 6px;
    border-style: solid;
    border-color: #ccc #fff #fff #fff;
}


.list-main .list-category {
    position: absolute;
    top: 4.4rem;
    bottom: 4.5rem;
    left: 0;
    overflow: hidden;
    float: left;
    width: 26%;
    border-right: #ddd solid 1px;
    font-size: 1.3rem;
    background:#fff;
}


.list-main .list-category .nav-super,.list-main .list-category .nav-parent{
    overflow: hidden;
    line-height: 4.9rem;
    color: #3a404b;
    text-align: center;
    background-color:#f5f5f5;
    border-bottom: solid 1px #ddd;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.list-main .list-category .nav-super{
  height:4.9rem;
}

.list-main .list-category .nav-super:last-child {
    border-bottom-width: 0;
}

.list-main .list-category .nav-super.nav-checked {
    color: #ff5300;
    font-size: 1.5rem;
    border-bottom: #ff5300 solid 3px;
    background-color: #fff;
}

.list-main .list-category .nav-parent p.arrow-down {
    position: relative;
}

.list-main .list-category .nav-parent p.arrow-down:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 6px 0 6px;
    border-style: solid;
    border-color: #ccc #f5f5f5 #f5f5f5 #f5f5f5;
    right: 4px;
    top: 2rem;
}

.list-main .list-category .nav-parent p.arrow-down.arrow-up:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-width: 0 6px 8px 6px;
    border-style: solid;
    border-color:  #f5f5f5 #f5f5f5 #ccc#f5f5f5;
    right: 4px;
    top: 2rem;
}

.list-main .list-category .nav-sub {
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #555;
    background-color: #fff;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.list-main .list-category .nav-sub.nav-checked {
    color: #ff5300;
    border-bottom: #ff5300 solid 3px;
    background-color: #fff;
    font-size: 1.5rem;
}

.list-main .list-product {
    /* flex-grow: 1; */
    padding: 0 1rem;
    background-color: #fff;
    border-left: 1px solid #ddd;
    float: left;
    margin-left: -1px;
    position: absolute;
    left: 26%;
    right: 0;
    top: 4.4rem;
    bottom: 4.5rem;
    overflow: hidden;
}

.list-main .list-product .GoodsCont{
    min-height: 100%;
}
.list-main .list-product .sk-end,
.list-main .list-product .sk-geted,
.list-main .list-product .sk-out{
    right: 0;
}

/* *
    *hot-1 new-2 recommend-3
    ***/
.nav-mark-1 {
    background-image: url('http://xiaomai-p2p.qiniudn.com/e83ca608a46386a595d5989df2ef8235');
    background-repeat: no-repeat;
    background-size: 2.4rem;
}

.nav-mark-2 {
    background-image: url('http://xiaomai-p2p.qiniudn.com/d4fa1301b5a3a3ef5ab6f6b9c5cc5292');
    background-repeat: no-repeat;
    background-size: 2.4rem;
}

.nav-mark-3 {
    background-image: url('http://xiaomai-p2p.qiniudn.com/af158d0f27ede1fde01102cbf4d7825d');
    background-repeat: no-repeat;
    background-size: 2.4rem;
}
/* 重写库文件样式 */

.iconfont {
    -webkit-text-stroke-width: 0px;
}

.navmain-uptip{
  position: absolute;
  line-height: 3rem;
  height:3rem;
  font-size:1.2em;
  text-align: center;
  top:-3rem;
  width:100%;
}
.navmain-uptip.pending,.navmain-downtip.pending{
  position: static;
}
.navmain-downtip{
  position: absolute;
  height:3rem;
  font-size:1.2em;
  width:100%;
  line-height: 3rem;
  color: #3a404b;
  text-align: center;
  bottom: -3rem;
}

/* 小屏兼容 */

@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio:2) {
    .pub-header .icon-feedback,
    .pub-header .icon-user {
        width: 4.5rem;
        text-align: center;
    }
    .list-main .list-category .nav-super p.arrow-down:after {
        right: 2px;
    }
}
