@charset "UTF-8";

/* 头部导航 */

.pub-header {
    font-size: 1.5rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 4.4rem;
    z-index: 2;
    border-bottom: solid 1px #d5d5d5;
    /* display: flex; */
    justify-content: space-around;
    background-color: #fff;
    color: #524648;
}

.pub-header .icon-feedback,
.pub-header .icon-user {
    width: 60px;
    text-align: center;
}

.pub-header .icon-user {
    position: absolute;
    top: 0;
    right: 0;
}

.pub-header .icon-feedback:before,
.pub-header .icon-user:before {
    font-size: 2.4rem;
    line-height: 4.4rem;
}

.pub-header .location-info {
    text-align: center;
    /* flex-grow: 1; */
    line-height: 4.4rem;
    position: absolute;
    top: 0;
    left: 44px;
    right: 44px;
}

.pub-header .location-info .locate:after {
    color: #ccc;
    content: '\e613';
    font-size: 2rem;
}

.pub-header .location-info .changeLocate {
    position: absolute;
    top: 1.8rem;
    margin-left: 0.5rem;
    vertical-align: middle;
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 6px 0 6px;
    border-style: solid;
    border-color: #ccc #fff #fff #fff;
}

.list-main .list-category {
    position: absolute;
    top: 4.4rem;
    bottom: 6.5rem;
    left: 0;
    overflow: auto;
    float: left;
    width: 26%;
    background: #f5f5f5;
    border-right: #ddd solid 1px;
}


.list-main .list-category .nav-super {
    overflow: hidden;
    line-height: 4.5rem;
    font-size: 1.5rem;
    color: #3a404b;
    text-align: center;
    border-bottom: solid 1px #ddd;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-main .list-category .nav-super:last-child {
    border-bottom-width: 0;
}

.list-main .list-category .nav-super.nav-checked {
    color: #ff5300;
    font-size: 1.5rem;
    border-bottom: #ff5300 solid 0.3rem;
    background: #fff;
}

.list-main .list-category .nav-super p.arrow-down {
    position: relative;
}

.list-main .list-category .nav-super p.arrow-down:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 6px 0 6px;
    border-style: solid;
    border-color: #ccc #f5f5f5 #f5f5f5 #f5f5f5;
    right: 4px;
    top: 2rem;
}

.list-main .list-category .nav-super p.arrow-down.arrow-up:after {
    transform: rotate(180deg);
}

.list-main .list-category .nav-sub {
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #555;
    background-color: #fff;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-main .list-category .nav-sub.nav-checked {
    color: #ff5300;
    border-bottom: #ff5300 solid 2px;
    background-color: #fff;
}

.list-main .list-product {
    /* flex-grow: 1; */
    width: 68%;
    padding: 1rem;
    background-color: #fff;
    border-left: 1px solid #ddd;
    float: left;
    margin-left: -1px;
    position: absolute;
    left: 26%;
    top: 4.4rem;
    bottom: 4.5rem;
    overflow: auto;
}

/* *
    *hot-1 new-2 recommend-3
    ***/
.nav-mark-1 {
    background-image: url('../../img/hot.png');
    background-repeat: no-repeat;
    background-size: 2.4rem;
}

.nav-mark-2 {
    background-image: url('../../img/new.png');
    background-repeat: no-repeat;
    background-size: 2.4rem;
}

.nav-mark-3 {
    background-image: url('../../img/recommend.png');
    background-repeat: no-repeat;
    background-size: 2.4rem;
}
/* 重写库文件样式 */

.iconfont {
    -webkit-text-stroke-width: 0px;
}


/* 小屏兼容 */

@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio:2) {
    .pub-header .icon-feedback,
    .pub-header .icon-user {
        width: 4.5rem;
        text-align: center;
    }
    .list-main .list-category .nav-super p.arrow-down:after {
        right: 2px;
    }
}
